*{
  margin: 0;padding: 0;
}

html::-webkit-scrollbar {
  width: 0.2rem;
}

html::-webkit-scrollbar-track {
  background: black;
}

html::-webkit-scrollbar-thumb {
  background: rgb(0, 255, 136);
}

.header-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  background-color: black;
  z-index: 1000;
}